.form-group {
  position: fixed;
  top: 50%;
  left: 40%;
  width: 30%;
  border-radius: 24px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 24px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #9aa0a6;
}

.gNO89b {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.appbar {
  color: #d93025;
  font-size: 20px;
}

.lOTAE {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.yIQOUb .otByu {
  clear: both;
}

div {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}

/*  */
/*  */
/*  */
/*  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #12c;
}
ol,
ul {
  list-style: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
.appbar {
  color: #d93025;
  font-size: 20px;
  margin: 25px 35px;
}
.gy3Eif {
  border-bottom: 1px solid #ebebeb;
}
.DLQBaf {
  float: left;
}
.PAZbv {
  background: url(//ssl.gstatic.com/ui/v1/zippy/arrow_down.png);
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  height: 4px;
  margin-right: 8px;
  margin-top: 12px;
  opacity: 0.667;
  vertical-align: middle;
  width: 7px;
}
.OhL41d:hover > .PAZbv {
  opacity: 0.9;
}
.kd-menulist.AUpGrc {
  width: 100%;
}
.AUpGrc {
  padding: 0;
  text-align: left;
  width: 100%;
}
.AUpGrc span.label {
  padding-left: 8px;
}
div.PLLUQc {
  padding-right: 16px;
}
div.Mza7yc {
  max-width: 1140px;
  min-width: 200px;
  width: 96%;
  margin: 40px 2% 0 45px;
}
div.otByu {
  width: 100%;
  clear: both;
}
div.otByu div.yIQOUb {
  clear: both;
}
div.otByu div.I1Kbt,
div.lFApYd {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  font-size: 16px;
  min-height: 42px;
  font-weight: 500;
  color: #333;
  vertical-align: middle;
}
div.otByu div.HoCfzc {
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}
div.otByu div.orcpGe {
  float: left;
  display: inline-block;
  width: 33%;
  font-size: 13px;
  font-weight: 700;
  color: #777;
  padding-left: 5px;
  vertical-align: middle;
}
div.otByu div.FAcADc {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}
div.otByu div.jYcx0e {
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}
div.otByu div.cwqNnb {
  float: left;
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}
div.otByu div.VN084b {
  clear: both;
  font-size: 13px;
  line-height: 16px;
  height: 20px;
  text-align: left;
}
div.lOTAE {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}
div.otByu div.jYcx0e input[type="text"],
div.otByu div.jYcx0e span.PnexQd {
  width: 100%;
  text-align: left;
}
div.otByu div.jYcx0e select {
  width: 100%;
  height: 29px;
  font-weight: 700;
  font-size: 11px;
  background-color: #eee;
  line-height: 27px;
  padding-left: 4px;
  color: #333;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  display: inline-block;
  vertical-align: top;
  padding-left: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
}
div.otByu div.cwqNnb span.BFlQMb {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}
div.Qy8Xkb {
  margin: 18px 0;
  clear: both;
  border-top: 1px solid #ebebeb;
}
input.dUBGpe {
  padding: 0 12px;
}
div.otByu div.yIQOUb input.dUBGpe {
  float: right;
  margin: 10px 0;
}
@media (max-width: 1056px) {
  div.orcpGe {
    display: none !important;
  }
  div.dulCv {
    display: none !important;
  }
  div.cwqNnb {
    display: none !important;
  }
}
div.bottom-wrapper {
  min-height: 100%;
  margin: 0 auto -60px;
}
div.bottom-links-wrapper,
div.b40oS {
  height: 60px;
}
div.bottom-links-wrapper {
  position: relative;
  z-index: 10;
  width: 100%;
  background-color: white;
}
div.bottom-links {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
div.bottom-links a {
  margin: 0 8px;
  font-size: 13px;
  white-space: nowrap;
  line-height: 30px;
  color: #12c;
}
.gGbPid {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  text-indent: 4px;
}
.ajf8pb {
  max-height: 200px;
  z-index: 12;
  overflow: auto;
}
.slmarker {
  border-left: 1px solid #d0d0d0;
  display: inline-block;
  height: 9px;
  position: absolute;
  width: 0;
  z-index: -1;
}
.slruler {
  height: 9px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  width: 100%;
  z-index: -1;
}
.goog-slider li {
  color: #343434;
  cursor: default;
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 17px;
  position: relative;
  text-align: left;
  top: 20px;
}
.goog-slider:focus .goog-slider-thumb {
  border: 1px solid #4d90fe;
}
.jfk-button-action:hover {
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
  background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  border-image: initial;
}
.jfk-radiobutton:focus {
  outline-width: 0;
}
.jfk-palette-cell-nonselected {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: -1px;
  margin-right: -1px;
}
.jfk-radiobutton-label {
  font-size: 13px;
}
.colorpicker-container {
  background-color: white;
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

/*  */
/*  */

@import url("https://fonts.googleapis.com/css?lang=en&family=Product+Sans|Roboto:400,700");
.gb_Wa:not(.gb_Fd) {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  z-index: 986;
}
@-moz-keyframes gb__a {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes gb__a {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
a.gb_0 {
  border: none;
  color: #4285f4;
  cursor: default;
  font-weight: bold;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -moz-user-select: none;
}
a.gb_0:hover:after,
a.gb_0:focus:after {
  background-color: rgba(0, 0, 0, 0.12);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
a.gb_0:hover,
a.gb_0:focus {
  text-decoration: none;
}
a.gb_0:active {
  background-color: rgba(153, 153, 153, 0.4);
  text-decoration: none;
}
a.gb_1 {
  background-color: #4285f4;
  color: #fff;
}
a.gb_1:active {
  background-color: #0043b2;
}
.gb_2 {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}
.gb_0,
.gb_1,
.gb_3,
.gb_4 {
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.gb_3 {
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
}
.gb_4 {
  background: #f8f8f8;
}
.gb_3,
#gb a.gb_3.gb_3,
.gb_4 {
  color: #666;
  cursor: default;
  text-decoration: none;
}
#gb a.gb_4.gb_4 {
  cursor: default;
  text-decoration: none;
}
.gb_4 {
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  background: -moz-linear-gradient(top, #4387fd, #4683ea);
  background: linear-gradient(top, #4387fd, #4683ea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}
#gb a.gb_4.gb_4 {
  color: #fff;
}
.gb_4:hover {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.gb_4:active {
  -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  background: #3c78dc;
  background: -moz-linear-gradient(top, #3c7ae4, #3f76d3);
  background: linear-gradient(top, #3c7ae4, #3f76d3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0);
}
.gb_Ba {
  display: none !important;
}
.gb_Ca {
  visibility: hidden;
}
.gb_cd {
  display: inline-block;
  vertical-align: middle;
}
.gb_Af {
  position: relative;
}
.gb_D {
  display: inline-block;
  outline: none;
  vertical-align: middle;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
#gb#gb a.gb_D {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.gb_Za {
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: none;
  position: absolute;
  left: 11.5px;
  top: 43px;
  z-index: 1;
  height: 0;
  width: 0;
  -moz-animation: gb__a 0.2s;
  animation: gb__a 0.2s;
}
.gb_0a {
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: none;
  position: absolute;
  left: 11.5px;
  z-index: 1;
  height: 0;
  width: 0;
  -moz-animation: gb__a 0.2s;
  animation: gb__a 0.2s;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: 42px;
}
x:-o-prefocus,
div.gb_0a {
  border-bottom-color: #ccc;
}
.gb_F {
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 62px;
  -moz-animation: gb__a 0.2s;
  animation: gb__a 0.2s;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-user-select: text;
}
.gb_cd.gb_ma .gb_Za,
.gb_cd.gb_ma .gb_0a,
.gb_cd.gb_ma .gb_F,
.gb_ma.gb_F {
  display: block;
}
.gb_cd.gb_ma.gb_Bf .gb_Za,
.gb_cd.gb_ma.gb_Bf .gb_0a {
  display: none;
}
.gb_Cf {
  position: absolute;
  right: 8px;
  top: 62px;
  z-index: -1;
}
.gb_Ka .gb_Za,
.gb_Ka .gb_0a,
.gb_Ka .gb_F {
  margin-top: -10px;
}
.gb_cd:first-child,
#gbsfw:first-child + .gb_cd {
  padding-left: 4px;
}
.gb_qa.gb_Se .gb_cd:first-child {
  padding-left: 0;
}
.gb_Te {
  position: relative;
}
.gb_Nc .gb_Te,
.gb_0d .gb_Te {
  float: right;
}
.gb_D {
  padding: 8px;
  cursor: pointer;
}
.gb_qa .gb_4c:not(.gb_0):focus img {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gb_Ue button:focus svg,
.gb_Ue button:hover svg,
.gb_Ue button:active svg,
.gb_D:focus,
.gb_D:hover,
.gb_D:active,
.gb_D[aria-expanded="true"] {
  outline: none;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.gb_wc .gb_Ue.gb_Ve button:focus svg,
.gb_wc .gb_Ue.gb_Ve button:focus:hover svg,
.gb_Ue button:focus svg,
.gb_Ue button:focus:hover svg,
.gb_D:focus,
.gb_D:focus:hover {
  background-color: rgba(60, 64, 67, 0.1);
}
.gb_wc .gb_Ue.gb_Ve button:active svg,
.gb_Ue button:active svg,
.gb_D:active {
  background-color: rgba(60, 64, 67, 0.12);
}
.gb_wc .gb_Ue.gb_Ve button:hover svg,
.gb_Ue button:hover svg,
.gb_D:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
.gb_ja .gb_D.gb_Na:hover {
  background-color: transparent;
}
.gb_D[aria-expanded="true"],
.gb_D:hover[aria-expanded="true"] {
  background-color: rgba(95, 99, 104, 0.24);
}
.gb_D[aria-expanded="true"] .gb_We,
.gb_D[aria-expanded="true"] .gb_Xe {
  fill: #5f6368;
  opacity: 1;
}
.gb_wc .gb_Ue button:hover svg,
.gb_wc .gb_D:hover {
  background-color: rgba(232, 234, 237, 0.08);
}
.gb_wc .gb_Ue button:focus svg,
.gb_wc .gb_Ue button:focus:hover svg,
.gb_wc .gb_D:focus,
.gb_wc .gb_D:focus:hover {
  background-color: rgba(232, 234, 237, 0.1);
}
.gb_wc .gb_Ue button:active svg,
.gb_wc .gb_D:active {
  background-color: rgba(232, 234, 237, 0.12);
}
.gb_wc .gb_D[aria-expanded="true"],
.gb_wc .gb_D:hover[aria-expanded="true"] {
  background-color: rgba(255, 255, 255, 0.12);
}
.gb_wc .gb_D[aria-expanded="true"] .gb_We,
.gb_wc .gb_D[aria-expanded="true"] .gb_Xe {
  fill: #ffffff;
  opacity: 1;
}
.gb_cd {
  padding: 4px;
}
.gb_qa.gb_Se .gb_cd {
  padding: 4px 2px;
}
.gb_qa.gb_Se .gb_Oa.gb_cd {
  padding-left: 6px;
}
.gb_F {
  z-index: 991;
  line-height: normal;
}
.gb_F.gb_Ze {
  left: 8px;
  right: auto;
}
@media (max-width: 350px) {
  .gb_F.gb_Ze {
    left: 0;
  }
}
.gb_0e .gb_F {
  top: 56px;
}
.gb_C .gb_D,
.gb_E .gb_C .gb_D {
  background-position: -64px -29px;
}
.gb_j .gb_C .gb_D {
  background-position: -29px -29px;
  opacity: 1;
}
.gb_C .gb_D,
.gb_C .gb_D:hover,
.gb_C .gb_D:focus {
  opacity: 1;
}
.gb_Hd {
  display: none;
}
.gb_Vc {
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 48px;
  margin-bottom: 2px;
  opacity: 1;
  overflow: hidden;
  padding-left: 16px;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  top: 2px;
  white-space: nowrap;
  flex: 1 1 auto;
}
.gb_Vc.gb_Wc {
  color: #3c4043;
}
.gb_qa.gb_ra .gb_Vc {
  margin-bottom: 0;
}
.gb_Xc.gb_Zc .gb_Vc {
  padding-left: 4px;
}
.gb_qa.gb_ra .gb_0c {
  position: relative;
  top: -2px;
}
.gb_qa {
  color: black;
  min-width: 320px;
  position: relative;
  -moz-transition: box-shadow 250ms;
  transition: box-shadow 250ms;
}
.gb_qa.gb_Ec {
  min-width: 240px;
}
.gb_qa.gb_Id .gb_Jd {
  display: none;
}
.gb_qa.gb_Id .gb_Kd {
  height: 56px;
}
header.gb_qa {
  display: block;
}
.gb_qa svg {
  fill: currentColor;
}
.gb_Ld {
  position: fixed;
  top: 0;
  width: 100%;
}
.gb_Md {
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.gb_Nd {
  height: 64px;
}
.gb_qa:not(.gb_Ic) .gb_2c.gb_3c:not(.gb_Od):not(.gb_Pd),
.gb_qa:not(.gb_Ic) .gb_Cd:not(.gb_Od):not(.gb_Pd),
.gb_qa.gb_Qd .gb_2c.gb_3c.gb_Od,
.gb_qa.gb_Qd .gb_Cd.gb_Od,
.gb_qa.gb_Qd .gb_2c.gb_3c.gb_Pd,
.gb_qa.gb_Qd .gb_Cd.gb_Pd {
  display: none !important;
}
.gb_Kd {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: -ms-min-content;
  min-width: min-content;
}
.gb_qa:not(.gb_ra) .gb_Kd {
  padding: 8px;
}
.gb_qa.gb_Rd .gb_Kd {
  flex: 1 0 auto;
}
.gb_qa .gb_Kd.gb_Sd.gb_Td {
  min-width: 0;
}
.gb_qa.gb_ra .gb_Kd {
  padding: 4px;
  padding-left: 8px;
  min-width: 0;
}
.gb_Jd {
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
  -moz-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-user-select: -moz-none;
}
.gb_Vd > .gb_Jd {
  display: table-cell;
  width: 100%;
}
.gb_Xc {
  padding-right: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex: 1 0 auto;
}
.gb_qa.gb_ra .gb_Xc {
  padding-right: 14px;
}
.gb_Wd {
  flex: 1 1 100%;
}
.gb_Wd > :only-child {
  display: inline-block;
}
.gb_Xd.gb_Oc {
  padding-left: 4px;
}
.gb_Xd.gb_Zd,
.gb_qa.gb_Rd .gb_Xd,
.gb_qa.gb_ra:not(.gb_0d) .gb_Xd {
  padding-left: 0;
}
.gb_qa.gb_ra .gb_Xd.gb_Zd {
  padding-right: 0;
}
.gb_qa.gb_ra .gb_Xd.gb_Zd .gb_ja {
  margin-left: 10px;
}
.gb_Oc {
  display: inline;
}
.gb_qa.gb_Ic .gb_Xd.gb_1d,
.gb_qa.gb_0d .gb_Xd.gb_1d {
  padding-left: 2px;
}
.gb_Vc {
  display: inline-block;
}
.gb_Xd {
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  padding-left: 30px;
  flex: 0 0 auto;
  justify-content: flex-end;
}
.gb_0d {
  height: 48px;
}
.gb_qa.gb_0d {
  min-width: initial;
  min-width: auto;
}
.gb_0d .gb_Xd {
  float: right;
  padding-left: 32px;
}
.gb_0d .gb_Xd.gb_2d {
  padding-left: 0;
}
.gb_3d {
  font-size: 14px;
  max-width: 200px;
  overflow: hidden;
  padding: 0 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-user-select: text;
}
.gb_4d {
  transition: background-color 0.4s;
}
.gb_5d {
  color: black;
}
.gb_wc {
  color: white;
}
.gb_qa a,
.gb_Bc a {
  color: inherit;
}
.gb_t {
  color: rgba(0, 0, 0, 0.87);
}
.gb_qa svg,
.gb_Bc svg,
.gb_Xc .gb_6d,
.gb_Nc .gb_6d {
  color: #5f6368;
  opacity: 1;
}
.gb_wc svg,
.gb_Bc.gb_Fc svg,
.gb_wc .gb_Xc .gb_6d,
.gb_wc .gb_Xc .gb_vc,
.gb_wc .gb_Xc .gb_0c,
.gb_Bc.gb_Fc .gb_6d {
  color: rgba(255, 255, 255, 0.87);
}
.gb_wc .gb_Xc .gb_uc:not(.gb_7d) {
  opacity: 0.87;
}
.gb_Wc {
  color: inherit;
  opacity: 1;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
.gb_wc .gb_Wc,
.gb_5d .gb_Wc {
  opacity: 1;
}
.gb_8d {
  position: relative;
}
.gb_9d {
  font-family: arial, sans-serif;
  line-height: normal;
  padding-right: 15px;
}
a.gb_g,
span.gb_g {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.gb_wc a.gb_g,
.gb_wc span.gb_g {
  color: white;
}
a.gb_g:focus {
  outline-offset: 2px;
}
a.gb_g:hover {
  text-decoration: underline;
}
.gb_h {
  display: inline-block;
  padding-left: 15px;
}
.gb_h .gb_g {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}
.gb_ae {
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gb_qa.gb_0d .gb_ae {
  margin-left: 8px;
}
#gb a.gb_4.gb_4.gb_ae,
#gb a.gb_3.gb_3.gb_ae {
  cursor: pointer;
}
.gb_4.gb_ae:hover {
  background: #2b7de9;
  -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
.gb_4.gb_ae:focus,
.gb_4.gb_ae:hover:focus {
  background: #5094ed;
  -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
.gb_4.gb_ae:active {
  background: #63a0ef;
  -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
.gb_ae:not(.gb_3) {
  background: #1a73e8;
  border: 1px solid transparent;
}
.gb_qa.gb_ra .gb_ae {
  padding: 9px 15px;
  min-width: 80px;
}
.gb_be {
  text-align: left;
}
#gb a.gb_ae.gb_3,
#gb .gb_wc a.gb_ae,
#gb.gb_wc a.gb_ae {
  background: #ffffff;
  border-color: #dadce0;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #1a73e8;
}
#gb a.gb_4.gb_ka.gb_ae {
  background: #8ab4f8;
  border: 1px solid transparent;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #202124;
}
#gb a.gb_ae.gb_3:hover,
#gb .gb_wc a.gb_ae:hover,
#gb.gb_wc a.gb_ae:hover {
  background: #f8fbff;
  border-color: #cce0fc;
}
#gb a.gb_4.gb_ka.gb_ae:hover {
  background: #93baf9;
  border-color: transparent;
  -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
}
#gb a.gb_ae.gb_3:focus,
#gb a.gb_ae.gb_3:focus:hover,
#gb .gb_wc a.gb_ae:focus,
#gb .gb_wc a.gb_ae:focus:hover,
#gb.gb_wc a.gb_ae:focus,
#gb.gb_wc a.gb_ae:focus:hover {
  background: #f4f8ff;
  border-color: #c9ddfc;
}
#gb a.gb_4.gb_ka.gb_ae:focus,
#gb a.gb_4.gb_ka.gb_ae:focus:hover {
  background: #a6c6fa;
  border-color: transparent;
  -moz-box-shadow: none;
  box-shadow: none;
}
#gb a.gb_ae.gb_3:active,
#gb .gb_wc a.gb_ae:active,
#gb.gb_wc a.gb_ae:active {
  background: #ecf3fe;
}
#gb a.gb_4.gb_ka.gb_ae:active {
  background: #a1c3f9;
  -moz-box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
#gb a.gb_ae.gb_3:not(.gb_ka):active {
  -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}
.gb_ja {
  background-color: rgba(255, 255, 255, 0.88);
  border: 1px solid #dadce0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  max-height: 48px;
  overflow: hidden;
  outline: none;
  padding: 0;
  vertical-align: middle;
  width: 134px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.gb_ja.gb_ka {
  background-color: transparent;
  border: 1px solid #5f6368;
}
.gb_la {
  display: inherit;
}
.gb_ja.gb_ka .gb_la {
  background: #ffffff;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  left: 8px;
  margin-right: 5px;
  position: relative;
  padding: 3px;
  top: -1px;
}
.gb_ja:hover {
  border: 1px solid #d2e3fc;
  background-color: rgba(248, 250, 255, 0.88);
}
.gb_ja.gb_ka:hover {
  border: 1px solid #5f6368;
  background-color: rgba(232, 234, 237, 0.08);
}
.gb_ja:focus {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255);
  -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.gb_ja.gb_ka:focus {
  border: 1px solid #e8eaed;
  background-color: #38383b;
}
.gb_ja.gb_ka:active,
.gb_ja.gb_ma.gb_ka:focus {
  border: 1px solid #5f6368;
  background-color: #333438;
}
.gb_na {
  display: inline-block;
  padding-left: 7px;
  padding-bottom: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  width: 78px;
}
.gb_ja.gb_ka .gb_na {
  line-height: 26px;
  width: 72px;
  padding-left: 0;
  padding-bottom: 0;
}
.gb_na.gb_oa {
  background-color: #f1f3f4;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-left: 8px;
  padding-left: 0;
}
.gb_na.gb_oa .gb_pa {
  vertical-align: middle;
}
.gb_qa:not(.gb_ra) .gb_ja {
  margin-left: 10px;
  margin-right: 4px;
}
.gb_sa {
  max-height: 32px;
  width: 78px;
}
.gb_ja.gb_ka .gb_sa {
  max-height: 26px;
  width: 72px;
}
.gb_Da {
  background-size: 32px 32px;
  border: 0;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}
.gb_Ea {
  background-color: #e8f0fe;
  border: 1px solid rgba(32, 33, 36, 0.08);
  position: relative;
}
.gb_Ea.gb_Da {
  height: 30px;
  width: 30px;
}
.gb_Ea.gb_Da:hover,
.gb_Ea.gb_Da:active {
  -moz-box-shadow: none;
  box-shadow: none;
}
.gb_Fa {
  background: #fff;
  border: none;
  -moz-border-radius: 50%;
  border-radius: 50%;
  bottom: 2px;
  -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  height: 14px;
  margin: 2px;
  position: absolute;
  right: 0;
  width: 14px;
}
.gb_Ha {
  color: #1f71e7;
  font: 400 22px/32px Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;
  text-align: center;
  text-transform: uppercase;
}
@media (min-resolution: 1.25dppx),
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-device-pixel-ratio: 1.25) {
  .gb_Da::before {
    display: inline-block;
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -moz-transform-origin: left 0;
    transform-origin: left 0;
  }
  .gb_Ia::before {
    display: inline-block;
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    -moz-transform-origin: left 0;
    transform-origin: left 0;
  }
  .gb_l .gb_Ia::before {
    -moz-transform: scale(0.416666667);
    transform: scale(0.416666667);
  }
}
.gb_Da:hover,
.gb_Da:focus {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.gb_Da:active {
  -moz-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}
.gb_Da:active::after {
  background: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
}
.gb_Ja {
  cursor: pointer;
  line-height: 40px;
  min-width: 30px;
  opacity: 0.75;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
}
.gb_D.gb_Ja {
  width: auto;
}
.gb_Ja:hover,
.gb_Ja:focus {
  opacity: 0.85;
}
.gb_Ka .gb_Ja,
.gb_Ka .gb_La {
  line-height: 26px;
}
#gb#gb.gb_Ka a.gb_Ja,
.gb_Ka .gb_La {
  font-size: 11px;
  height: auto;
}
.gb_Ma {
  border-top: 4px solid #000;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  display: inline-block;
  margin-left: 6px;
  opacity: 0.75;
  vertical-align: middle;
}
.gb_Na:hover .gb_Ma {
  opacity: 0.85;
}
.gb_ja > .gb_Oa {
  padding: 3px 3px 3px 4px;
}
.gb_Pa.gb_Ca {
  color: #fff;
}
.gb_j .gb_Ja,
.gb_j .gb_Ma {
  opacity: 1;
}
#gb#gb.gb_j.gb_j a.gb_Ja,
#gb#gb .gb_j.gb_j a.gb_Ja {
  color: #fff;
}
.gb_j.gb_j .gb_Ma {
  border-top-color: #fff;
  opacity: 1;
}
.gb_E .gb_Da:hover,
.gb_j .gb_Da:hover,
.gb_E .gb_Da:focus,
.gb_j .gb_Da:focus {
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.gb_Qa .gb_Oa,
.gb_Ra .gb_Oa {
  position: absolute;
  right: 1px;
}
.gb_Oa.gb_i,
.gb_Sa.gb_i,
.gb_Na.gb_i {
  flex: 0 1 auto;
  flex: 0 1 main-size;
}
.gb_Ta.gb_Ua .gb_Ja {
  width: 30px !important;
}
.gb_Va {
  height: 40px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 40px;
}
.gb_Wa .gb_Va,
.gb_Xa .gb_Va {
  right: 0;
  top: 0;
}
.gb_Oa .gb_D {
  padding: 4px;
}
.gb_de {
  display: none;
}
.gb_oc {
  display: inline-block;
  position: relative;
  top: 2px;
  -moz-user-select: -moz-none;
}
.gb_ge .gb_oc {
  display: none;
}
.gb_Kd .gb_pc {
  line-height: normal;
  position: relative;
  padding-left: 16px;
}
.gb_Xc.gb_Zc .gb_pc {
  padding-left: 0;
}
.gb_Xc .gb_pc {
  padding-left: 12px;
}
.gb_qc.gb_he {
  direction: ltr;
}
.gb_qc.gb_he .gb_6d {
  padding-left: 8px;
  padding-right: 0;
}
.gb_qc .gb_ie:before {
  content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg");
  display: inline-block;
  height: 24px;
  width: 74px;
}
.gb_qc .gb_ie {
  height: 24px;
  width: 74px;
  display: inline-block;
  vertical-align: middle;
}
.gb_qc {
  display: inline-block;
  vertical-align: middle;
}
.gb_qc .gb_ie,
.gb_qc.gb_je,
.gb_qc:not(.gb_je):not(:focus) {
  outline: none;
}
.gb_pa {
  display: inline-block;
  vertical-align: middle;
}
.gb_tc {
  border: none;
  display: block;
  visibility: hidden;
}
img.gb_uc {
  border: 0;
  vertical-align: middle;
}
.gb_Fc .gb_qc .gb_ie:before,
.gb_wc .gb_qc .gb_ie:before {
  content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg");
}
.gb_5d .gb_qc .gb_ie:before {
  content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg");
}
@media screen and (-ms-high-contrast: black-on-white) {
  .gb_wc .gb_qc .gb_ie:before {
    content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg");
  }
}
@media screen and (-ms-high-contrast: white-on-black) {
  .gb_5d .gb_qc .gb_ie:before {
    content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg");
  }
}
.gb_pa {
  background-repeat: no-repeat;
}
.gb_6d {
  display: inline-block;
  font-family: "Product Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 24px;
  padding-left: 8px;
  position: relative;
  top: -1.5px;
  vertical-align: middle;
}
.gb_Xc .gb_6d {
  padding-left: 4px;
}
.gb_Xc .gb_6d.gb_ke {
  padding-left: 0;
}
.gb_uc.gb_7d {
  padding-right: 4px;
}
.gb_Fc .gb_Wc.gb_6d {
  opacity: 1;
}
.gb_le:focus .gb_6d {
  text-decoration: underline;
}
.gb_me img.gb_uc {
  margin-bottom: 4px;
}
.gb_vc {
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  padding: 12px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  height: 24px;
  width: 24px;
  -moz-user-select: none;
  flex: 0 0 auto;
}
.gb_ra .gb_vc {
  margin: 0 4px 0 0;
}
.gb_vc:focus,
.gb_vc:focus:hover {
  background-color: rgba(60, 64, 67, 0.1);
  outline: none;
}
.gb_vc:active {
  background-color: rgba(60, 64, 67, 0.12);
  outline: none;
}
.gb_vc:hover {
  background-color: rgba(60, 64, 67, 0.08);
  outline: none;
}
.gb_wc .gb_vc:hover {
  background-color: rgba(232, 234, 237, 0.08);
}
.gb_wc .gb_vc:focus,
.gb_wc .gb_vc:focus:hover {
  background-color: rgba(232, 234, 237, 0.1);
}
.gb_wc .gb_vc:active {
  background-color: rgba(232, 234, 237, 0.12);
}
.gb_xc {
  display: none;
}
.gb_yc {
  transform: none;
}
.gb_Ac {
  display: none;
}
.gb_Bc {
  background-color: #fff;
  bottom: 0;
  color: #000;
  height: -moz-calc(100vh - 100%);
  height: calc(100vh - 100%);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  z-index: 990;
  will-change: visibility;
  visibility: hidden;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -moz-transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.25s;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.25s;
}
.gb_Bc.gb_Cc.gb_Dc,
.gb_Bc.gb_Cc.gb_Dc:hover {
  overflow: visible;
}
.gb_Bc.gb_ra {
  width: 264px;
  transform: translateX(-264px);
}
.gb_Bc:not(.gb_ra) {
  width: 280px;
  transform: translateX(-280px);
}
.gb_Ec .gb_Bc {
  width: 195px;
}
.gb_Bc.gb_ma {
  transform: translateX(0);
  visibility: visible;
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.28);
  -moz-transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0s;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0s;
}
.gb_Bc.gb_Fc {
  background-color: rgba(32, 33, 36, 1);
  color: #e8eaed;
}
.gb_Hc.gb_Ic {
  background-color: transparent;
  -moz-box-shadow: 0 0;
  box-shadow: 0 0;
}
.gb_Hc.gb_Ic > :not(.gb_Jc) {
  display: none;
}
.gb_Jc {
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.gb_Jc > .gb_Kc {
  flex: 1 0 auto;
}
.gb_Jc > .gb_Lc {
  flex: 0 0 auto;
}
.gb_Mc {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 8px 0;
}
.gb_Bc:not(.gb_Hc) .gb_Mc:first-child {
  padding: 0 0 8px 0;
}
.gb_Mc:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.gb_Fc .gb_Mc:not(:last-child) {
  border-bottom: 1px solid #5f6368;
}
.gb_Fc .gb_Nc .gb_Oc {
  background-color: rgba(32, 33, 36, 1);
  border-bottom: 1px solid #5f6368;
}
.gb_Pc {
  cursor: pointer;
}
.gb_Qc:empty {
  display: none;
}
.gb_Pc,
.gb_Qc {
  display: block;
  min-height: 40px;
  padding-bottom: 4px;
  padding-top: 4px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}
.gb_Fc .gb_Pc {
  color: #e8eaed;
}
.gb_Fc .gb_Qc {
  color: #9aa0a6;
}
.gb_Bc.gb_ra .gb_Pc {
  padding-left: 16px;
}
.gb_Bc:not(.gb_ra) .gb_Pc,
.gb_Bc:not(.gb_ra) .gb_Qc {
  padding-left: 24px;
}
.gb_Pc:hover {
  background: rgba(0, 0, 0, 0.12);
}
.gb_Fc .gb_Pc:hover {
  background: rgba(232, 234, 237, 0.08);
}
.gb_Pc.gb_za {
  background: rgba(0, 0, 0, 0.12);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}
.gb_Fc .gb_Pc.gb_za {
  background: rgba(232, 234, 237, 0.12);
  color: rgba(255, 255, 255, 0.87);
}
.gb_Pc .gb_Rc {
  text-decoration: none;
  display: inline-block;
  width: 100%;
}
.gb_Pc .gb_Rc:focus {
  outline: none;
}
.gb_Pc .gb_Sc,
.gb_Qc {
  padding-left: 32px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
  width: 176px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gb_Ec .gb_Pc .gb_Sc,
.gb_Ec .gb_Qc {
  padding-left: 16px;
  width: 138px;
}
.gb_Jc.gb_u .gb_Rc:focus .gb_Sc {
  text-decoration: underline;
}
.gb_Pc .gb_Tc {
  height: 24px;
  width: 24px;
  float: left;
  margin-top: 8px;
  vertical-align: middle;
}
.gb_Nc > * {
  display: block;
  min-height: 48px;
}
.gb_qa.gb_ra .gb_Nc > * {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
}
.gb_qa:not(.gb_ra) .gb_Nc > * {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.gb_qa:not(.gb_ra) .gb_Xc .gb_oc {
  -moz-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.gb_Nc .gb_oc {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
}
.gb_Nc .gb_Oc {
  background-color: #f5f5f5;
  display: block;
}
.gb_Nc .gb_Oc .gb_cd {
  float: right;
}
.gb_qa.gb_ra .gb_Nc .gb_Oc {
  padding: 4px;
}
.gb_qa:not(.gb_ra) .gb_Nc .gb_Oc {
  padding: 8px;
}
.gb_Nc .gb_Ja {
  width: 40px;
}
.gb_Nc .gb_Ma {
  position: absolute;
  right: 0;
  top: 50%;
}
.gb_Bc .gb_le {
  text-decoration: none;
}
.gb_Bc .gb_6d {
  display: inline;
  white-space: normal;
  word-break: break-all;
  word-break: break-word;
}
body.gb_oe [data-ogpc] {
  -moz-transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.25s;
  transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0.25s;
}
body.gb_oe.gb_pe [data-ogpc] {
  -moz-transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0s;
  transition: margin-left 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0s linear 0s;
}
body [data-ogpc] {
  margin-left: 0;
}
body.gb_pe [data-ogpc] {
  margin-left: 280px;
}
.gb_xf {
  cursor: pointer;
  padding: 13px;
}
.gb_yf {
  background-color: rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.24);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.24);
  width: 34px;
  height: 17px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  -moz-transition: background-color ease 150ms;
  transition: background-color ease 150ms;
}
.gb_xf[aria-pressed="true"] .gb_yf {
  background-color: rgba(255, 255, 255, 0.1);
}
.gb_zf {
  position: absolute;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  top: -4px;
  transform: translateX(-12px);
  background-color: white;
  -moz-transition: transform ease 150ms;
  transition: transform ease 150ms;
}
.gb_xf[aria-pressed="true"] .gb_zf {
  transform: translateX(20px);
}
.gb_zf img {
  position: absolute;
  margin: 5px;
  width: 15px;
  height: 15px;
}
.gb_qe {
  line-height: 0;
  -moz-user-select: -moz-none;
}
.gb_Wd > .gb_qe:only-child {
  float: right;
}
.gb_qe .gb_ve {
  display: inline-block;
}
.gb_qe .gb_4c {
  cursor: pointer;
}
.gb_qe .gb_4c img {
  opacity: 0.54;
  width: 24px;
  height: 24px;
  padding: 10px;
}
.gb_wc .gb_qe .gb_4c img {
  opacity: 1;
}
.gb_re {
  text-align: right;
}
.gb_ve {
  text-align: initial;
}
.gb_qe .gb_we,
.gb_qe .gb_xe {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
}
.gb_qe .gb_we:not(.gb_ye) {
  overflow: hidden;
}
.gb_Be {
  padding-left: 16px;
}
.gb_Be:not(.gb_ra) {
  padding-left: 24px;
}
.gb_Ce {
  color: black;
  opacity: 0.54;
}
.gb_De {
  background: white;
  -moz-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow-y: hidden;
  position: absolute;
  right: 24px;
  top: 48px;
}
.gb_1c {
  display: none;
}
.gb_1c.gb_ma {
  display: block;
}
.gb_2c {
  background-color: #fff;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  color: #000;
  position: relative;
  z-index: 986;
}
.gb_3c {
  height: 40px;
  padding: 16px 24px;
  white-space: nowrap;
}
.gb_2c .gb_4c {
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  min-width: 32px;
  padding: 0 16px;
  vertical-align: middle;
}
.gb_2c .gb_4c:before {
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 100%;
}
.gb_2c .gb_4c:after {
  bottom: -6px;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}
.gb_2c .gb_4c + .gb_4c {
  margin-left: 8px;
}
.gb_5c {
  height: 48px;
  padding: 4px;
  margin: -8px 0 0 -8px;
}
.gb_6c {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  overflow: hidden;
  vertical-align: top;
}
.gb_3c .gb_6c {
  display: inline-block;
  padding-left: 8px;
  width: 640px;
}
.gb_7c {
  background-color: inherit;
}
.gb_3c .gb_7c {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 24px;
}
.gb_7c .gb_8c {
  height: 1.5em;
  margin: -0.25em 10px -0.25em 0;
  vertical-align: text-top;
  width: 1.5em;
}
.gb_9c {
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.gb_3c .gb_9c,
.gb_3c .gb_ad {
  width: 640px;
}
.gb_ad .gb_bd,
.gb_ad {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}
.gb_cd.gb_dd {
  padding: 0;
}
.gb_dd .gb_F {
  background: #ffffff;
  border: solid 1px transparent;
  -moz-border-radius: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 16px;
  right: 16px;
  top: 72px;
  -moz-box-shadow: 0 1px 2px 0 rgba(65, 69, 73, 0.3),
    0 3px 6px 2px rgba(65, 69, 73, 0.15);
  box-shadow: 0 1px 2px 0 rgba(65, 69, 73, 0.3),
    0 3px 6px 2px rgba(65, 69, 73, 0.15);
}
.gb_dd .gb_F.gb_ed {
  right: 60px;
  top: 48px;
}
.gb_dd .gb_F.gb_fd {
  top: 62px;
}
a.gb_gd {
  color: #5f6368 !important;
  font-size: 22px;
  height: 24px;
  opacity: 1;
  padding: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  text-decoration: none !important;
  width: 24px;
}
a.gb_gd:focus,
a.gb_gd:active,
a.gb_gd:focus:hover {
  background-color: #e8eaed;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: none;
}
a.gb_gd:hover {
  background-color: #f1f3f4;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: none;
}
svg.gb_hd {
  fill: #5f6368;
  opacity: 1;
}
.gb_id {
  padding: 0;
  white-space: normal;
  display: table;
}
.gb_dd .gb_4:active {
  outline: none;
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
}
.gb_0.gb_jd.gb_kd {
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 36px;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  min-width: 70px;
  outline: none;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
}
.gb_0.gb_ld.gb_kd {
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  height: 36px;
  color: #5f6368;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  min-width: 70px;
  outline: none;
  padding: 8px 6px;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
}
.gb_0.gb_jd.gb_kd {
  background: white;
  border: 1px solid #dadce0;
  color: #1a73e8;
  margin-top: 21px;
  padding: 9px 7px;
}
.gb_0.gb_jd.gb_kd:hover {
  background-color: rgba(26, 115, 232, 0.04);
}
.gb_0.gb_jd.gb_kd:focus,
.gb_0.gb_jd.gb_kd:focus:hover {
  background-color: rgba(26, 115, 232, 0.12);
  border: solid 1px #1a73e8;
}
.gb_0.gb_jd.gb_kd:active {
  background-color: rgba(26, 115, 232, 0.1);
  border-color: transparent;
}
.gb_0.gb_ld:hover {
  background-color: #f8f9fa;
}
.gb_0.gb_ld:focus,
.gb_0.gb_ld:hover:focus {
  background-color: #f1f3f4;
  border-color: transparent;
}
.gb_0.gb_ld:active {
  background-color: #f1f3f4;
  -moz-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.gb_bd {
  color: #5f6368;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 5px;
}
.gb_md {
  text-align: right;
  font-size: 14px;
  padding-bottom: 0;
  white-space: nowrap;
}
.gb_md .gb_nd,
.gb_md .gb_od {
  margin-left: 12px;
  text-transform: none;
}
a.gb_4.gb_nd:hover {
  background-color: #2b7de9;
  border-color: transparent;
  -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
a.gb_4.gb_nd:focus,
a.gb_4.gb_nd:hover:focus {
  background-color: #5094ed;
  border-color: transparent;
  -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
a.gb_4.gb_nd:active {
  background-color: #63a0ef;
  -moz-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
.gb_md .gb_kd.gb_nd img {
  background-color: inherit;
  -moz-border-radius: initial;
  border-radius: initial;
  height: 18px;
  margin: 0 8px 0 4px;
  vertical-align: text-top;
  width: 18px;
}
.gb_pd .gb_id .gb_qd .gb_kd {
  border: 2px solid transparent;
}
.gb_id .gb_qd .gb_kd:focus:after,
.gb_id .gb_qd .gb_kd:hover:after {
  background-color: transparent;
}
.gb_rd {
  color: #3c4043;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}
.gb_bd a.gb_td {
  text-decoration: none;
  color: #5e97f6;
}
.gb_bd a.gb_td:visited {
  color: #5e97f6;
}
.gb_bd a.gb_td:hover,
.gb_bd a.gb_td:active {
  text-decoration: underline;
}
.gb_ud {
  position: absolute;
  background: transparent;
  top: -999px;
  z-index: -1;
  visibility: hidden;
  margin-top: 1px;
  margin-left: 1px;
}
#gb .gb_dd {
  margin: 0;
}
.gb_dd .gb_4c {
  background: #4d90fe;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-weight: 500;
  margin-top: 21px;
  min-width: 70px;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
}
.gb_dd a.gb_4 {
  background: #1a73e8;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  padding: 8px 22px;
  -moz-osx-font-smoothing: grayscale;
}
.gb_dd.gb_vd .gb_F {
  background-color: #fce8e6;
}
.gb_dd.gb_wd a.gb_nd,
.gb_dd.gb_vd a.gb_nd {
  background-color: #d93025;
}
.gb_dd.gb_wd a.gb_nd:hover,
.gb_dd.gb_vd a.gb_nd:hover {
  background-color: #cc3127;
  -moz-box-shadow: 0 -1px 5px rgba(128, 134, 139, 0.09),
    0 3px 5px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px rgba(60, 64, 67, 0.15);
  box-shadow: 0 -1px 5px rgba(128, 134, 139, 0.09),
    0 3px 5px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px rgba(60, 64, 67, 0.15);
}
.gb_dd.gb_wd a.gb_nd:focus,
.gb_dd.gb_vd a.gb_nd:focus {
  background-color: #b3332c;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gb_dd.gb_wd a.gb_nd:active,
.gb_dd.gb_vd a.gb_nd:active {
  background-color: #a6342e;
  -moz-box-shadow: 0 -2px 8px rgba(128, 134, 139, 0.09),
    0 4px 8px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px rgba(60, 64, 67, 0.15);
  box-shadow: 0 -2px 8px rgba(128, 134, 139, 0.09),
    0 4px 8px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px rgba(60, 64, 67, 0.15);
}
.gb_dd.gb_xd a.gb_4 {
  float: right;
}
#gb .gb_dd a.gb_4c.gb_4c {
  color: #ffffff;
  cursor: pointer;
}
.gb_dd .gb_4c:hover {
  background: #357ae8;
  border-color: #2f5bb7;
}
.gb_yd,
.gb_qd {
  display: table-cell;
}
.gb_yd {
  vertical-align: middle;
}
.gb_yd img {
  height: 48px;
  padding-left: 4px;
  padding-right: 20px;
  width: 48px;
}
.gb_qd {
  padding-left: 13px;
  width: 100%;
}
.gb_dd .gb_qd {
  padding-top: 4px;
  min-width: 326px;
  padding-left: 0;
  width: 326px;
}
.gb_dd.gb_zd .gb_qd {
  min-width: 254px;
  width: 254px;
}
.gb_dd.gb_xd .gb_qd {
  padding-top: 32px;
}
.gb_Cd {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  line-height: 19px;
  padding-top: 5px;
  padding-left: 12px;
  position: relative;
  background-color: #4d90fe;
}
.gb_Cd .gb_Dd {
  color: #ffffff;
  cursor: default;
  font-size: 22px;
  font-weight: normal;
  position: absolute;
  right: 12px;
  top: 5px;
}
.gb_Cd .gb_nd,
.gb_Cd .gb_ld {
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  margin-left: 16px;
  padding: 0 8px;
  white-space: nowrap;
}
.gb_Ed {
  background: none;
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.2)
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.2)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.2)
  );
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff,endColorstr=#220000ff);
  text-decoration: none !important;
}
.gb_Ed:hover {
  background: none;
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.2)
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.2)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.2)
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#22000000);
}
.gb_Ed:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.gb_qa .gb_0 {
  color: #4285f4;
}
.gb_qa .gb_1 {
  color: #fff;
}
.gb_qa .gb_4c:not(.gb_Qe):focus {
  outline: none;
}
.gb_kf,
.gb_lf,
.gb_mf {
  display: none;
}
.gb_He {
  height: 48px;
  max-width: 720px;
}
.gb_Wd.gb_Pe:not(.gb_Fe) .gb_He {
  max-width: 100%;
  flex: 1 1 auto;
}
.gb_Vd > .gb_Jd .gb_He {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.gb_Wd.gb_Pe .gb_He .gb_Ue {
  margin-left: 0;
  margin-right: 0;
}
.gb_Ue {
  background: #f1f3f4;
  border: 1px solid transparent;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  position: relative;
  -moz-transition: background 100ms ease-in, width 100ms ease-out;
  transition: background 100ms ease-in, width 100ms ease-out;
}
.gb_Ue.gb_nf {
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.gb_wc .gb_Ue {
  background: rgba(241, 243, 244, 0.24);
}
.gb_Ue button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0 5px;
  line-height: 0;
}
.gb_Ue:not(.gb_Fe) button {
  padding: 0 5px;
}
.gb_Ue button svg,
.gb_Ue button img {
  padding: 8px;
  margin: 3px;
}
.gb_Ue.gb_Fe button svg {
  margin-left: 1px;
  margin-right: 1px;
}
.gb_of.gb_pf,
.gb_qf.gb_pf {
  padding-left: 2px;
  padding-right: 2px;
}
.gb_qf {
  display: none;
}
.gb_of,
.gb_qf {
  float: left;
  position: absolute;
  top: 0;
}
.gb_rf {
  position: absolute;
  right: 0;
  cursor: default;
  visibility: hidden;
  top: 0;
  -moz-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
.gb_sf .gb_rf {
  right: 44px;
}
.gb_rf.gb_tf {
  visibility: inherit;
}
.gb_uf {
  position: absolute;
  right: 0;
  top: 0;
}
.gb_vf {
  height: 46px;
  padding: 0;
  margin-left: 56px;
  margin-right: 49px;
  overflow: hidden;
}
.gb_sf .gb_vf {
  margin-right: 96px;
}
.gb_ff {
  background: transparent;
  border: none;
  font: normal 16px Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;
  font-variant-ligatures: none;
  height: 46px;
  outline: none;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gb_pf.gb_vf .gb_ff.gb_wf {
  padding-left: 2px;
}
.gb_wc .gb_ff {
  color: rgba(255, 255, 255, 0.87);
}
.gb_ff:not(.gb_wf) {
  padding: 11px 0;
}
.gb_ff.gb_wf {
  padding: 0;
}
.gb_wf {
  height: 46px;
  line-height: 46px;
}
.gb_Ue:not(.gb_Ve) input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.54);
}
.gb_wc .gb_Ue:not(.gb_Ve) input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.87);
}
.gb_Ue.gb_Fe:not(.gb_N) {
  background: transparent;
  float: right;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gb_Ue.gb_Fe:not(.gb_N) .gb_vf,
.gb_Ue.gb_Fe:not(.gb_N) .gb_rf,
.gb_Ue.gb_Fe:not(.gb_N) .gb_uf {
  display: none;
}
.gb_Ue.gb_Fe.gb_N {
  margin-left: 0;
  position: absolute;
  width: auto;
}
.gb_Ue.gb_Fe.gb_N .gb_of {
  display: none;
}
.gb_Ue.gb_Fe .gb_of {
  padding: 0;
  position: static;
}
.gb_Ue.gb_Fe.gb_N .gb_qf {
  display: block;
}
.gb_qa.gb_Ic .gb_Jd.gb_Ee:not(.gb_Fe) .gb_He,
.gb_qa.gb_Ic .gb_Jd.gb_Ie.gb_Je:not(.gb_Fe) .gb_He,
.gb_qa.gb_Rd .gb_Jd:not(.gb_Ee):not(.gb_Fe) .gb_He {
  padding-right: 30px;
}
.gb_qa.gb_Ic .gb_Jd.gb_Je:not(.gb_Fe) .gb_He,
.gb_qa.gb_Ic .gb_Jd.gb_Ie.gb_Ee:not(.gb_Fe) .gb_He {
  padding-left: 30px;
}
.gb_Jd:not(.gb_Fe) .gb_He {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  flex: 1 1 auto;
}
.gb_He.gb_Ca {
  display: none;
}
.gb_Wd.gb_Ke > .gb_qe {
  min-width: initial !important;
  min-width: auto !important;
}
.gb_Le,
.gb_Me:not(.gb_Sd):not(.gb_Ke).gb_Ne {
  justify-content: flex-end;
}
.gb_Me:not(.gb_Sd):not(.gb_Ke) {
  justify-content: center;
}
.gb_Me:not(.gb_Sd):not(.gb_Ke).gb_Oe,
.gb_Me:not(.gb_Sd):not(.gb_Ke).gb_Pe {
  justify-content: flex-start;
}
.gb_Wd.gb_Sd,
.gb_Wd.gb_Ke {
  justify-content: space-between;
}
.gb_qa.gb_ra .gb_Xc,
.gb_Kd.gb_Sd.gb_Td > .gb_Xc {
  flex: 1 1 auto;
  overflow: hidden;
}
.gb_qa.gb_ra .gb_Wd,
.gb_Kd.gb_Sd.gb_Td > .gb_Wd {
  flex: 0 0 auto;
}
.jfk-button-action {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
}

.jfk-button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	margin-right: 16px;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: 0;
	padding: 0 8px;
}
